
<div class="reset-wrapper">
  <div class="reset-card">
    <h2>Réinitialiser le mot de passe</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label>Nouveau mot de passe :</label>
        <input formControlName="new_password" type="password">
      </div>

      <div class="form-group">
        <label>Confirmer le nouveau mot de passe :</label>
        <input formControlName="new_password_confirmation" type="password">
      </div>

      <button type="submit" class="btn-reset">Réinitialiser</button>
    </form>

    <p class="message" *ngIf="message">{{ message }}</p>
  </div>
</div>
